# Database Configuration (Local)
DATABASE_URL="postgresql://postgres:postgres@db:5432/progress_tracker"
DIRECT_URL="postgresql://postgres:postgres@db:5432/progress_tracker"

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLOUDINARY_FOLDER=""

# WhatsApp Gateway (Fonnte)
FONNTE_API_KEY="your-fonnte-api-key"
FONNTE_API_URL="https://api.fonnte.com/send"